footer {
    height: 10vh;
    border-top: 1px solid rgb(117, 117, 117);
    position: relative;
    margin: auto;
    width: 102vw;
    text-align: center;
    margin-top: 5vh;


    margin-bottom: -2vh;
    background-image: url(bilder/whiteBricks.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    p{
        display: inline-block;
        color: rgb(0, 0, 0);
        text-align: center;
        margin-right: 5vw;
        font-weight: 900;
    }

    a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        font-weight: 900;
    }
}