footer {
    height: 8vh;
    border-top: 1px solid rgb(117, 117, 117);
    position: relative;
    margin: auto;
    width: 102vw;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: -2vh;
    background-image: url(bilder/whiteBricks.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    p{
        display: inline-block;
        color: #000000;
        text-align: center;
        margin-right: 5vw;
        font-weight: 900;
        text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px  2px 0 #ffffff, 2px  2px 0 #ffffff;
    }

    a{
        color: rgb(0, 0, 0);
        text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px  2px 0 #ffffff, 2px  2px 0 #ffffff;
        text-decoration: none;
        display: inline-block;
        font-weight: 900;
    }

    a:hover{
        text-decoration: underline;
        color: rgb(255, 153, 0);
    }
}