#rating {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    
    

    input {
        display: none;
       
    }

    label {
        cursor: pointer;
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border-radius: 50%;
        margin-right: 5px;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    label:hover {
        background-color: yellow;
    }

    input:checked ~ label:hover{
        background-color: gold;
    }
    input:checked ~ label {
        background-color: gold;
    }
}



