@use "partials/navigation";
@use "partials/footer";

body {
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    margin-left: -1vw;
    font-family: "Pacifico", cursive, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


#pos1{
   width: 80vw;
   border: 1px solid white;
   height: 50vh;
   margin: auto;
   margin-top: 5vh;
}


#pos2{   
    width: 80vw;
   border: 1px solid white;
   height: 50vh;
   margin: auto;
   margin-top: 5vh;
}


#pos3{
    width: 80vw;
   border: 1px solid white;
   height: 50vh;
   margin: auto;
   margin-top: 5vh;
}



//---------------------------------------------------------------//
//---------------------------------------------------------------//
//---------------------------------------------------------------//
//---------------------------------------------------------------//

#specialFooter{
    position: absolute;
    bottom: 0;
}

#divForm{
    display: block;
    width: fit-content;
    background-image: url(/src/bilder/whiteBricks.jpg);
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 10vh;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px  1px 0 #ffffff, 1px  1px 0 #ffffff;
    form{
        display:flex;
        flex-direction: column;
        width: 40vw;
        padding-bottom: 5vh;
        height:fit-content;
    }
    input{
        height: 4vh;
        font-weight: 600;
    }

    label{
        font-weight: 900;
        margin-top: 1vh;
    }

    button{
        width: 15vw;
        height: 5vh;
        margin-top: 2vh;

    }
    h2{
        text-decoration: underline;
    }

    button:hover{
        background-color: orange;
        text-decoration: underline;
    }
}